.hero {
    background: url('../images/homepage.jpg') no-repeat center center;
    background-size: cover;
    height: 74.51vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.hero-text {
    background-color: rgba(255, 255, 255, 0.8); /* Light background with some transparency */
    padding: 20px;
    border-radius: 10px; /* Optional rounded corners */
    max-width: 80%; /* Ensures text block does not become too wide */
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px; /* This max-width depends on the breakpoint, typically handled by Bootstrap */
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
}

.feature {
    margin-top: -100px;
    position: relative;
    z-index: 1000;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.feature-card {
    background-color: white;
    border-radius: 0.75rem;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
